/* Reset some default styles */
body, h1, h2, h3, h4, p, ul, ol, li {
  margin: 10;
  padding: 0;
}

/* Set background color and font styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2e3233;
  color: #9cd0d2;
  line-height: 1.6;
}

/* Container to center the content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  text-align: center;
  font-size: 2em;
  padding: 40px 0;
  color:#2c3e50;
}

h4{
  text-align: center;
  font-size: 1em;
  color: #adf6e5;
}
h3{
  font-size: 1em;
  color: #e9eaa1;
}

/* Navigation menu */
nav {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #f0f5f9;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #3bb8c3;
}

/* Main content styles */
.section1 {
  margin-top: 40px;
  background-color:#e9eaa1 ;
}

h2 {
  font-size: 2.5em;
  color: #2c3e50;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #7f8c8d;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 40px 0;
  background-color: #99b0c6;
  color: #ecf0f1;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  p {
    font-size: 1em;
  }

  li {
    display: block;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
  /* Style unordered lists */
  ul {
    list-style-type:none;
    padding: 0;
  }

  ul li {
    margin-bottom: 8px;
    padding-left: 20px;
    position:relative;
  }

  ul li:before {
    content: "\2022"; /* Unicode character for a solid circle */
    color: #8e9193; /* Set the color of the bullet */
    font-size: 1.2em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px; /* Adjust the spacing between the bullet and text */
  }

  /* Style ordered lists */
  ol {
    list-style-type: none;
    counter-reset: my-counter; /* Reset the counter for ordered lists */
    padding: 0;
  }

  ol li {
    margin-bottom: 8px;
    padding-left: 30px;
    position: relative;
  }

  ol li:before {
    content: counter(my-counter); /* Use the counter value as the content */
    counter-increment: my-counter; /* Increment the counter for each item */
    color: #b0b5b9; /* Set the color of the number */
    font-size: 1.2em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px; /* Adjust the spacing between the number and text */
  }

}
